footer {
    background-color:grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    text-align: center;
    vertical-align: center;

          
}

li {
    
    font-weight: bold;
    list-style-type: square ;
    list-style: square blue 5px;
    padding: .15em;
}

menu
 {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: baseline; /* Align items */
    padding: .5em;
}

body {
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

div label {
    font-weight: bold;
}

label[for=priority1]
{
    color: red;

}

label[for=priority2]
{
    color: orange;
    font-weight: lighter;
}

label[for=priority3]
{
    color: green;
}

div {
    font-weight: bold;
    text-decoration: underline;
    
    
}

main {
    flex-grow: 1; /* Ensure the main content takes up space, pushing the footer down */
    padding: 1em;
    box-sizing: border-box; /* Ensure padding is included in height calculations */
}

label[for=addtask] {
    font-style: italic;
    text-decoration: none;
}

input {
    font-style: italic;
}

button {
    color: hsl(48, 42%, 50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  
