header {
    background-color:white;
}

footer {
    background-color:grey;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu
 {
    font-style: italic;
}

body {
    background-color:white;
}

