main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
  padding: 1.5em;
  line-height: 1.6;
  text-decoration: none;
}

#motivational-quote {
  text-align: center;
  margin-top: 2em;
  font-family: "Lucida Handwriting", cursive;
  color: hsl(48, 42%, 50%);
}

#motivational-quote blockquote {
  font-size: 1.2em;
  font-style: italic;
  margin: 0.5em 0;
}

#motivational-quote div {
  font-size: 1em;
  margin-top: 0.5em;
}

p {
  max-width: 600px;
  font-size: 1em;
  text-decoration: none !important;
}

@media (max-width: 600px) {
  main {
    padding: 1em;
  }

  #motivational-quote blockquote {
    font-size: 1em;
  }
}
